// -----------------------------------------------------------------------------
// This file contains all base styles in the site/application.
// -----------------------------------------------------------------------------

.main {
    padding: $spacer-lg 0;
    background-color: $body-dark-bg;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
}

p {
    margin-bottom: 0;
}